<%- include("header", {}) %>
<div class="container">
    <div class="container-fluid">
        <h2>Documents</h2>
        <div class="container">
            <div class="row align-items-start">
                <div class="col-md-4">
                    <div class="card">
                        <img src="images/calculadora.png" class="card-img-top" alt="..." width="30"
                            height="250">
                        <div class="card-body">
                            <h5 class="card-title">Matemáticas</h5>
                            <p class="card-text">Apuntes de Matemáticas.</p>
                            <a href="#" class="btn btn-info">Descargar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="images/atomo.png" class="card-img-top" alt="..." width="30" height="250">
                        <div class="card-body">
                            <h5 class="card-title">Física</h5>
                            <p class="card-text">Apuntes de Física.</p>
                            <a href="#" class="btn btn-info">Descargar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="images/programacion.png" class="card-img-top" alt="..." width="30"
                            height="250">
                        <div class="card-body">
                            <h5 class="card-title">Programación</h5>
                            <p class="card-text">Apuntes de Programación.</p>
                            <a href="#" class="btn btn-info">Descargar</a>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="row align-items-start">
                <div class="col-md-4">
                    <div class="card">
                        <img src="images/configuracion.png" class="card-img-top" alt="..." width="30"
                            height="250">
                        <div class="card-body">
                            <h5 class="card-title">Inteligencia Artificial</h5>
                            <p class="card-text">Apuntes de IA.</p>
                            <a href="#" class="btn btn-info">Descargar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="images/web.png" class="card-img-top" alt="..." width="30" height="250">
                        <div class="card-body">
                            <h5 class="card-title">Sistemas Web</h5>
                            <p class="card-text">Apuntes de Sistemas Web.</p>
                            <a href="#" class="btn btn-info">Descargar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="images/BD.png" class="card-img-top" alt="..." width="30" height="250">
                        <div class="card-body">
                            <h5 class="card-title">Bases de Datos</h5>
                            <p class="card-text">Apuntes de Bases de Datos.</p>
                            <a href="#" class="btn btn-info">Descargar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%- include("footer", {}) %>
