<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Iniciar Sesión</title>
    <meta name="description" content="TutorMe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style2.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="icon" href="images/TutorMeLogo.png" sizes="16x16 32x32 48x48 64x64" type="image/png">

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/5f050e7543.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <div class="form-box">
            <h1 id="title">Regístrate</h1>
            <form action="/auth/signup" method="post">
                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Nombre" id="name" required>
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Email" id="email" required>
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Contraseña" id="password" required>
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Repetir Contraseña" id="repeatPassword" required>
                    </div>
                    <p>¿Olvidaste tu contraseña? <a href="#">Haz click aquí</a></p>
                </div>
                <div class="btn-field">
                    <button type="button" id="signupBtn">Regístrate</button>
                    <button type="button" id="signinBtn" class="disable">Iniciar Sesión</button>
                </div>
                <!--div class="btn-field">
                    <button type="button" id="submitBtn">Entrar</button>
                </div-->
            </form>
        </div>

    </div>

<script src="/javascripts/register.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>


</body>

</html>