<%- include("header", {}) %>
<div class="container">
    <div class="container-fluid">
        <h2>Tutelados</h2>
        <div class="container">
            <div class="row align-items-start">
                <div class="col-md-4">
                    <div class="card">
                        <img src="images/tutelado1.png" class="card-img-top" alt="..." width="30"
                            height="250">
                        <div class="card-body">
                            <h5 class="card-title">José</h5>
                            <ul class="list-unstyled">
                                <li><i class="far fa-envelope"></i>  : José@gmail.com</li>
                                <li><i class="fa fa-phone"></i> : 387 654 3220</li>
                            </ul>
                            <p class="card-text">Tutelado.</p>
                            <a href="chat.html" class="btn btn-info btn-sm">Iniciar Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="images/tutelado1.png" class="card-img-top" alt="..." width="30"
                            height="250">
                        <div class="card-body">
                            <h5 class="card-title">José</h5>
                            <ul class="list-unstyled">
                                <li><i class="far fa-envelope"></i>  : José@gmail.com</li>
                                <li><i class="fa fa-phone"></i> : 387 654 3220</li>
                            </ul>
                            <p class="card-text">Tutelado.</p>
                            <a href="chat.html" class="btn btn-info btn-sm">Iniciar Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="images/tutelado1.png" class="card-img-top" alt="..." width="30"
                            height="250">
                        <div class="card-body">
                            <h5 class="card-title">José</h5>
                            <ul class="list-unstyled">
                                <li><i class="far fa-envelope"></i>  : José@gmail.com</li>
                                <li><i class="fa fa-phone"></i> : 387 654 3220</li>
                            </ul>
                            <p class="card-text">Tutelado.</p>
                            <a href="chat.html" class="btn btn-info btn-sm">Iniciar Chat</a>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="row align-items-start">
                <div class="col-md-4">
                    <div class="card">
                        <img src="images/tutelado1.png" class="card-img-top" alt="..." width="30"
                            height="250">
                        <div class="card-body">
                            <h5 class="card-title">José</h5>
                            <ul class="list-unstyled">
                                <li><i class="far fa-envelope"></i>  : José@gmail.com</li>
                                <li><i class="fa fa-phone"></i> : 387 654 3220</li>
                            </ul>
                            <p class="card-text">Tutelado.</p>
                            <a href="chat.html" class="btn btn-info btn-sm">Iniciar Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="images/tutelado1.png" class="card-img-top" alt="..." width="30"
                            height="250">
                        <div class="card-body">
                            <h5 class="card-title">José</h5>
                            <ul class="list-unstyled">
                                <li><i class="far fa-envelope"></i>  : José@gmail.com</li>
                                <li><i class="fa fa-phone"></i> : 387 654 3220</li>
                            </ul>
                            <p class="card-text">Tutelado.</p>
                            <a href="chat.html" class="btn btn-info btn-sm">Iniciar Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="images/tutelado1.png" class="card-img-top" alt="..." width="30"
                            height="250">
                        <div class="card-body">
                            <h5 class="card-title">José</h5>
                            <ul class="list-unstyled">
                                <li><i class="far fa-envelope"></i>  : José@gmail.com</li>
                                <li><i class="fa fa-phone"></i> : 387 654 3220</li>
                            </ul>
                            <p class="card-text">Tutelado.</p>
                            <a href="chat.html" class="btn btn-info btn-sm">Iniciar Chat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><br>
<%- include("footer", {}) %>