/* Add this import at the beginning for Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

/* Navbar styles */
header {
    background-color: whitesmoke;
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #0d6efd;
    text-decoration: none;
}

header .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

header .navigation a {
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 0;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff;
}

header .navigation .cta {
    margin-left: auto;
    background-color: #ff69b4;
}

header .navigation .cta:hover {
    background-color: #ff1493;
}

#top_navbar{
    background-color: whitesmoke;
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

#signin {
    font-family: "Montserrat", sans-serif;
}

header label {
    display: none; /* Hide the label for simplicity */
}

#check:checked ~ header .navigation {
    opacity: 1;
    pointer-events: auto;
}

/* Hero section styles */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10%;
}

.content .info {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
}

.content .info h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #0d6efd;
}

.content .info h2 span {
    color: #0d6efd;
    font-size: 50px;
    font-weight: 600;
}

.content .info p {
    color: #0d0a32;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn {
    color: #fff;
    background: #ADD8E6;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.content .info-btn:hover {
    background: #2cbce6;
}

.student-image {
    max-width: 100%;
    height: auto;
    width: auto;
}

/* Service cards styles */
.card {
    border: none;
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-card-title {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #1e176d;
    letter-spacing: 1px;
}

.custom-card-text {
    font-size: 18px;
    color: #1e176d;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Team section styles */
.team-area {
    padding-top: 5%;
    background-color: #fff;
}

.single-team {
    box-shadow: 0px 7px 7px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 10px;
    margin-left: 10px;
}

.single-team:hover .social {
    cursor: pointer;
    opacity: 1;
    transform: rotateY(0deg) scale(1, 1);
}

.img-area {
    overflow: hidden;
    position: relative;
}

.img-area img {
    width: 100%;
    transition: all 0.4s ease 0s;
}

.img-area:hover img {
    transform: scale(1.2);
}


.img-area .social {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: .5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
}

.img-text {
    padding: 25px;
    color: black;
    text-align: center;
}

.img-text h4 {
    margin: 0 0 5px;
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 5px;
}

.img-text h5 {
    font-size: 17px;
    color: #545154;
}

/* University section styles */
.titulo-seccion h2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #1e176d;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 5%;
    letter-spacing: 3px;
}

.university-image {
    width: 80%;
    max-width: 100%;
    height: auto;
}

/* Footer styles */
footer {
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 10%;
    color: #1e176d;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    font-family: "Montserrat", sans-serif;
    color: #1e176d;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.tutorme-logo {
    max-width: 100px;
    height: auto;
}

/* Media queries */
@media (max-width: 960px) {
    .tutorme-logo {
        max-width: 80px;
    }
    header .navigation {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background: #2c20ae;
        flex-direction: column; /* Change to vertical layout for smaller screens */
        text-align: center;
    }

    header .navigation a {
        margin-right: 0;
        margin-bottom: 10px;
    }

    header label {
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    header label:hover {
        color: #fff;
    }

    header label .menu-btn {
        display: none;
    }

    header label .close-btn {
        z-index: 2;
        display: block;
        position: fixed;
    }

    .content .info h2 {
        font-size: 45px;
        line-height: 50px;
    }

    .content .info h2 span {
        font-size: 40px;
        line-height: 600;
    }

    .content .info p {
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .tutorme-logo {
        max-width: 60px;
    }
    .content .info h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .content .info h2 span {
        font-size: 30px;
        line-height: 600;
    }

    .content .info p {
        font-size: 14px;
    }
}
