/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: right;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.welcome-text {
    text-align: center;
    font-size: 24px;
    margin-right: 30px;
}

.welcome-image {
    max-width: 50%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
